---
---
@charset "utf-8";

// Our variables
$base-font-family: 'PT Sans', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.895;
$large-font-size:  $base-font-size * 1.40;

$base-line-height: 1.5;

$spacing-unit:     30px;


$text-color:       #454545;
$background-color: #FFF;
$brand-color:      #a9d6fc;
$accent-color: 	   #42b3f4;
$second-accent-color: #053049;
$third-accent-color: #071f2d;
//$third-accent-color: #C12D17;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 15%);
$grey-color-legible: lighten($grey-color, 10%);
$grey-color-darker:  darken($grey-color, 20%);
$grey-color-dark:  darken($grey-color, 30%);

// Width of the content area
$content-width:    700px;
$on-palm:          700px;
$on-laptop:        700px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin prefix($property, $value, $vendors: webkit moz ms o) {
      @if $vendors {
        @each $vendor in $vendors {
          #{"-" + $vendor + "-" + $property}: #{$value};
        }
      }
      #{$property}: #{$value};
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
