<h2>Search database</h2>
<p> What would you like to search for?</p>

<select id="searchType">
	<option value="crimes">Crimes</option>
	<option value="evidence">Evidence</option>
	<option value="vehicles">Vehicles</option>
	<option value="officers">Officers</option>
</select>
<br>
<br>
<div id="forms">
	<div class="form-holder" id="crimes">
		<form method="post" id="#crimeForm">
			<input type="text" name="formType" value="crime" hidden>
			<div class="form-group">
				<label for="inputMake">Type of Crime</label>
				<br/>
				<select name="crimeType" multiple class="form-control" required>
				  <option>Mild</option>
				  <option>Moderate</option>
				  <option>Violent</option>
				  <option>Unclassified</option>
				</select>
			</div>
			<div class="form-group">
				<label for="inputStartDate">Start Date</label> 
				<br/>
				<input name="startDate" type="date" class="form-control" id="inputStartDate" placeholder="04/05/2012" required>
			</div>
			<div class="form-group">
				<label for="inputEndDate">End Date</label> 
				<br/>
				<input name="endDate" type="date" class="form-control" id="inputEndDate" placeholder="05/14/2013" required>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<div class="form-holder" id="evidence">
		<form method="post" id="#evidenceForm">
			<input type="text" name="formType" value="evidence" hidden>
			<div class="form-group">
				<label for="inputCrime">Crime Id</label>
				<br/>
				<input name="crimeId" type="text" class="form-control" id="inputCrime" required>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<div class="form-holder" id="vehicles">
		<form method="post" id="#vehicleForm">
			<input type="text" name="formType" value="vehicle" hidden>
			<div class="form-group">
				<label for="inputMake">Model</label>
				<br/>
				<input name="model" type="text" class="form-control" id="inputMake" required>
			</div>
			<div class="form-group">
				<label for="inputState">State</label>
				<br/>
				<input name="state" type="text" class="form-control" id="inputState" required>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<div class="form-holder" id="officers">
		<form method="post" id="#officerForm">
			<input type="text" name="formType" value="officer" hidden>
			<div class="form-group">
				<label for="inputName">Name</label>
				<br/>
				<input name="name" type="text" class="form-control" id="inputname" required>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
<br>
<br>
<div id="results">
	<p id="resultLog"></p>
	<ul id="resultList">
	</ul>
</div>

<script>
	$(function() {
		$(".form-holder").hide();
		$("#" + $("#searchType").val()).show();
		
		$("#searchType").change(function() {
			$(".form-holder").hide();
			$("#" + this.value).show();
		});
	});
</script>

<script type="text/javascript">
	$(function() {
		$("form").submit(function(evt) {
			evt.preventDefault();

			$("#resultList").html("");

			$.ajax({
				method: "post",
				data: $(this).serialize(),
				success: function(data) {
					$("#resultLog").text("Found " + data.length + " results matching your query.");
					$.each(data, function(i, obj) {
						var li = "<li>";
						for(var i in obj) {
							li += i + ": " + obj[i] + ", ";
						}
						$("#resultList").append(li + "</li>");
					});
				},
				error: function(err) {
					$("#resultLog").text("There was an error requesting data.");
				}
			});
		});
	});
</script>