
/* Site Header
 * ============================================== */
    .site-header {
        min-height: 180px;
        background-color: $brand-color;
        background-image: url('');
        background-size: cover;
        background-position: center -170px;
        background-attachment: fixed;

        @include media-query($on-palm) {
            min-height: 175px;
            background-position: center -250px;
            background-size: cover;
            width: 100%;
        }
    }

    .site-header a, a h1:hover {color: #FFF};

    .site-header h1 {
        display: block;
        font-size: 60px !important;
        line-height: 1;
        padding-top: 0px;
        letter-spacing: 3px;
        text-align: left;
        clear: both;
        text-transform: uppercase;
        font-family: 'Open Sans'; 

        @include media-query($on-palm) {
            font-size: 38px !important;
            line-height: 1.125;
        }
    }

    .site-header h3 {
        display: block;
        font-size: 20px !important;
        line-height: 0;
        text-align: left;
        clear: both;
        padding-top: 15px;
        text-transform: none;
        font-family: 'Open Sans';
        color: $second-accent-color;

        @include media-query($on-palm) {
            font-size:20px !important;
            letter-spacing: 0px;
        }
    }

    .site-header span {
        border: 10px solid transparent;
        padding: 0.3em 0.5em;
        margin: 10px 0 0 30px;
        display: inline-block;

        @include media-query($on-palm) {
            margin: 10px 10px;
            padding: 0.15em 0.4em;
        }
    }

    .site-nav {
        float: left;
        line-height: 56px;
        padding-bottom: 10px;

        .page-link {
            line-height: $base-line-height;
            color: $grey-color-dark;
            font-weight: bold;
            letter-spacing: 0.05em;
             @include prefix(transition, color 0.4s linear, webkit moz ms o);

            &:not(:first-child) {
                margin-left: 20px;
            }
            
        }

        .page-link:hover {
            color: $third-accent-color;
        }

        @include media-query($on-palm) {
            padding-bottom: 10px;
        }
    }

    /* prepare the selectors to add a stroke to */
    .stroke {
      position: relative;
      z-index: 2;
    }

    /* add a single stroke */
    .stroke:after {
      position: absolute;
      content: "MARIA KUZNETSOV";
      top: 3px;
      left: -4px;
      z-index: -1;
      color: $second-accent-color;
    }

/* Site Footer
 * ============================================== */
    .footer {
        padding-bottom: 3em;
        margin-left: 25px;
        margin: auto;
        font-size: 12px;
        font-family: Open Sans;
        color: #959595;
        text-align: center;
        vertical-align: center;

        i {
            @extend .read-more;
        }
    }

/* Individual Posts
 * ============================================== */
    .page-content {
        padding: $spacing-unit 0;
        text-align: left-align;
    }

    .page-heading {
        font-size: 20px;
        padding-top: 2px;
    }

/* Archive
 * ============================================== */
    .post-list {
        margin-left: 0;
        list-style: none;

        > li {
            display: block;
            padding: 0.1em 1.5em;
        }

    }

    .post-link {
        font-size: 1.5em;
        display: block;
        color: $third-accent-color;
        width: 100%;

        @include media-query($on-palm) {
            font-size: 1.33em;
        }
    }

    .post-meta {
        font-size: $small-font-size;
        color: $grey-color-legible;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        display: inline-block;
    }

    .read-more { 
        border: solid 0.2em $brand-color;
        padding: 3px 9px 4px 9px;
        border-radius: 1.125em;
        color: $third-accent-color;
        @include prefix(transition, border-color 0.4s linear, webkit moz ms o);

         &:hover {
            border-color: $third-accent-color;
        }
    }
    /*footer icons extend read-more*/

/* Post Format
 * ============================================== */
    .post-header {
        margin-bottom: $spacing-unit / 3;
    }

    .post-title {
        font-size: 42px;
        line-height: 1;

        @include media-query($on-laptop) {
            font-size: 36px;
        }
    }

    .post-content {
        margin-bottom: $spacing-unit;
        /*
        h2 {
            font-size: 32px;

            @include media-query($on-laptop) {
                font-size: 28px;
            }
        }

        h3 {
            font-size: 26px;

            @include media-query($on-laptop) {
                font-size: 22px;
            }
        }

        h4 {
            font-size: 20px;

            @include media-query($on-laptop) {
                font-size: 18px;
            }
        } */
    }

/* Image Format
 * ============================================== */
    .thumbnail {
        max-height: 300px;
        width: auto;
        padding: 20px 20px 20px 0px;

            @include media-query($on-laptop) {
                    height: 100px;
                    width: auto;
                }
    }

    .post-image {
        img {
        max-height: 400px;
        width: auto;
        padding: 5px 5px 5px 0;
        display: inline;
        justify-content: center;
        text-align: center;
            @include media-query($on-laptop) {
                    height: auto;
                    width: auto;
                }
        }

        font-size: $small-font-size;
        color: $grey-color-legible;
    }

    .cover {        
        max-width: 310px;
        height: auto;
        display: inline-block;
        justify-content: center;
        text-align: center;
        padding: 5px 5px 5px 0;
    }

    .flyer {
        @extend .post-image;
        display: inline-block;
    }
